@import "./variables";
@import "./mixins";

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: $baseFontFamily;
  color: $colorWhite;
  background-color: $colorPrimary;
}

[class*="Container"] {
  max-width: $desktopContainerWidth;
  margin: 0 auto;
  padding: 0 42px;
}

@include tablet {
  [class*="Container"] {
    padding: 0 24px;
  }
}

@include tablet {
  [class*="Container"] {
    max-width: $mobileContainerWidth;
  }
}

%smoothscroll {
  -webkit-overflow-scrolling: touch;
}

%hidescroll {
  &::-webkit-scrollbar {
    display: none;
  }
}
