// Container Dimensions
$desktopContainerWidth: 1358px;
$mobileContainerWidth: none;
$containerPadding: 15px;

// Typography
$baseFontFamily: "Inter", sans-serif;

// FontWeight
$weightRegular: 400;
$weightMedium: 500;
$weightSemiBold: 600;
$weightBold: 700;

// Color
$colorPrimary: #d69e36;
$colorSecondary: #ffaa0f;

// BaseColor
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorRed: #f34848;
$colorTransparent: #f3f3f32b;
// GrayLevel
$colorGray100: #fff2;
$colorGray200: #ffffff12;
$colorGray300: #ffffff2b;
$colorGray400: #717171;
$colorGray500: #403b45;
$colorGray600: #616060;
$colorGray700: #4a4a4a;
$colorGray800: #363636;
// YellowLevel
$colorYellow100: #ffd02c;
$colorYellow200: #f1c40e;
$colorYellow300: #795700;

// Define breakpoints
$desktopBreakpoint: 1358px;
$tabletBreakpoint: 991.98px;
$mobileBreakpoint: 425px;

// Animate
$transitionDuration: 0.3s;
