@import "../../styles/assets/mixins";
@import "../../styles/assets/variables";

.panel {
  padding: 40px 0 0 0;

  &Container {
    display: flex;
    gap: 32px;
    height: 100%;
  }

  &Slider {
    display: none;
  }

  &Menu {
    flex: 0 1 90px;
    background-color: $colorTransparent;
    border-radius: 40px;
  }

  &Forecast {
    flex: 1 1 58%;
    background-color: $colorTransparent;
    border-radius: 40px;
  }

  &Condition {
    flex: 1 1 21%;
    background-color: $colorTransparent;
    border-radius: 40px;
  }

  @include tablet {
    height: 100%;

    &Forecast {
      border-radius: 10px;
    }

    &Container {
      flex-direction: column;
    }

    &Slider {
      display: block;
    }

    &Menu {
      display: none;
    }

    &Condition {
      display: none;
    }
  }
}
