@import "../../../styles/assets/mixins";

.modal {
  width: 280px;
  background: #363636;
  border-radius: 16px;
  padding: 16px 0;

  &Search {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0 16px;
    background: #4a4a4a;
    border-radius: 16px;

    &:hover {
      background: #616060;
    }

    &.active {
      background: #616060;
    }

    input {
      background: none;
      border-radius: 16px;
      padding: 2px 10px;
      width: 100%;
      color: #fff;
      outline: none;
    }

    button {
      margin-right: 10px;
    }
  }

  &Error {
    position: absolute;
    padding: 2px 16px;
    width: 100%;
    color: #f34848;
  }

  &Favorite {
    padding-top: 28px;
  }

  &List {
    padding-top: 4px;
    max-height: 235px;
    overflow: auto;
  }

  &Action {
    padding: 6px 16px;
    cursor: pointer;
    background: #ffd02c;
    color: #795700;
    display: none;

    &:hover {
      background: #f1c40e;
    }

    &.active {
      display: block;
    }
  }

  &Item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 16px;
    cursor: pointer;

    &.active {
      background: #ffffff12;
    }

    &:hover {
      background: #ffffff2b;
    }
  }

  &Title {
    padding: 0 16px;
    color: #717171;
  }

  @include tablet {
    width: 230px;
  }
}
