@import "../../../styles/assets/mixins";
@import "../../../styles/assets/variables";

.modal {
  width: 280px;
  background: $colorGray800;
  border-radius: 16px;
  padding: 16px 0;

  &Search {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0 16px;
    background: $colorGray700;
    border-radius: 16px;

    &:hover {
      background: $colorGray600;
    }

    &.active {
      background: $colorGray600;
    }

    input {
      background: none;
      border-radius: 16px;
      padding: 2px 10px;
      width: 100%;
      color: $colorWhite;
      outline: none;
    }

    button {
      margin-right: 10px;
    }
  }

  &Error {
    position: absolute;
    padding: 2px 16px;
    width: 100%;
    color: $colorRed;
  }

  &Favorite {
    padding-top: 28px;
  }

  &List {
    padding-top: 4px;
    max-height: 235px;
    overflow: auto;
    @include scroll;
  }

  &Action {
    padding: 6px 16px;
    cursor: pointer;
    background: $colorYellow100;
    color: $colorYellow300;
    display: none;

    &:hover {
      background: $colorYellow200;
    }

    &.active {
      display: block;
    }
  }

  &Item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 16px;
    cursor: pointer;

    &.active {
      background: $colorGray200;
    }

    &:hover {
      background: $colorGray300;
    }
  }

  &Title {
    padding: 0 16px;
    color: $colorGray400;
  }

  @include tablet {
    width: 230px;
  }
}
