@import "../../styles/index.scss";

.forecast {
  height: 100%;

  &Time {
    display: flex;
    align-items: center;
    padding: 10px 35px;
    gap: 5px;
  }

  &Chart {
  }

  @include tablet {
    &Time {
      padding: 10px;
    }
  }
}
