@import "../../styles/assets/mixins";
@import "../../styles/assets/variables";

.forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &Time {
    display: flex;
    align-items: center;
    padding: 10px 35px;
    gap: 5px;
  }

  &Chart {
    position: relative;
    display: flex;
    align-items: center;
    overflow-y: auto;
    height: 100%;

    @include scroll;
  }

  &Button {
    display: none;
  }

  @include tablet {
    padding: 0 0 20px 0;

    &Time {
      padding: 10px;
    }

    &Button {
      display: block;
      max-width: 205px;
      border-radius: 50px;
      padding: 8px 43px;
      margin: 0 auto;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }
}
