@import "../../../styles/assets/mixins";
@import "../../../styles/assets/variables";

.button {
  @include flex;
  color: #fff;
  cursor: pointer;

  &[data-full-width="true"] {
    width: 100%;
  }

  &.primary {
    background: #ffaa0f;
    color: $colorBlack;
  }

  // &:hover {
  //   color: $colorWhite;
  // }

  // &:active {
  //   transition: none;
  //   background-color: $colorGray450;
  // }

  // &:disabled {
  //   color: $colorGray300;
  //   background-color: $colorGray550;
  //   cursor: auto;
  // }

  // &:disabled &:hover {
  //   color: $colorGray300;
  //   background-color: $colorGray500;
  // }
}
