@import "../../../styles/assets/mixins";
@import "../../../styles/assets/variables";

.button {
  @include flex;
  color: $colorWhite;
  cursor: pointer;

  &[data-full-width="true"] {
    width: 100%;
  }

  &.primary {
    background: $colorSecondary;
    color: $colorBlack;
  }
}
