@import "../../../styles/assets/variables";

.labelWrapper {
  overflow: visible;

  .degree {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    &.currentHour::before {
      content: "";
      position: absolute;
      top: 22px;
      width: 6px;
      height: 6px;
      background: $colorWhite;
      border-radius: 100%;
    }

    &.currentHour::after {
      content: "";
      position: absolute;
      top: 30px;
      height: 30px;
      border: 1px dotted rgb(253, 198, 95);
    }

    &Details {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      margin-bottom: 2px;
    }
  }
}
