@import "../../../styles/assets/mixins";

.h1 {
  font-size: 64px;
}

.h2 {
  font-size: 48px;
}

.link,
.h3 {
  font-size: 24px;
}

.h4 {
  font-size: 18px;
}

.h5 {
  font-size: 16px;
}

.h6 {
  font-size: 14px;
}

.paragraph {
  font-size: 12px;
}

.caption {
  font-size: 10px;
}

.link {
  &:hover {
    text-decoration: underline;
    text-underline-position: under;
  }
}

// Ellipsis
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// Weight
.regular {
  font-weight: $weightRegular;
}

.medium {
  font-weight: $weightMedium;
}

.semibold {
  font-weight: $weightSemiBold;
}

.bold {
  font-weight: $weightBold;
}

// Color
.black {
  color: $colorBlack;
}

.white {
  color: $colorWhite;
}

.gray {
  color: $colorGray500;
}

@include tablet {
  .h1 {
    font-size: 48px;
  }

  .h2 {
    font-size: 24px;
  }

  .link,
  .h3 {
    font-size: 20px;
  }

  .h6 {
    font-size: 12px;
  }
}

@include mobile {
  .link,
  .h3 {
    font-size: 18px;
  }

  .h4 {
    font-size: 16px;
  }

  .h5 {
    font-size: 14px;
  }

  .paragraph {
    font-size: 10px;
  }

  .caption {
    font-size: 8px;
  }
}
