@import "../../../styles/assets/mixins";
@import "../../../styles/assets/variables";

.slider {
  &Slide {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .prev {
    color: $colorSecondary;
    width: 0;
    top: 18px;

    &::after {
      font-size: 25px;
    }
  }
  .next {
    color: $colorSecondary;
    width: 0;
    top: 18px;

    &::after {
      font-size: 25px;
    }
  }

  @include tablet {
    &Slide {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
