@import "../../styles/assets/mixins";

.condition {
  position: relative;
  padding: 35px 15px 35px 15px;
  overflow: hidden;

  &Image {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .day {
    margin-bottom: 35px;
    text-align: center;

    &Slider {
      position: absolute;
      width: 100%;
      left: 0;
      margin-bottom: 20px;
    }

    &Time {
      @include flex;
      padding-top: 60px;
      gap: 4px;
    }
  }

  .air {
    position: relative;

    &Title {
      margin-bottom: 20px;
    }

    &Element {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    &Info {
      display: inline-flex;
      gap: 8px;
    }

    &Description {
      margin-top: 4px;
    }
  }
}
